*,
*::fater,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: 0;
    padding: 0;
}

section {
    
    width: 100%;
    height: 100vh;
    transition: .5s;
    transition: margin-top .5s;
    transition: .5s;
    margin: 0;
    padding: 0;
}


.section1 {
    max-width: 100%;
    height: 100vh;
   
    
}

.slider {
    position: absolute;
    width: 100%;
    height: 100vh;
    transition: .5s;

}

.image-background img {
    width: 100%;
    height: 100vh;
    position: relative;

}

/*this is for the previous and next*/
.slide-panel-move {
    position: relative;
    top: 30%;
    padding: 10px;
    display: flex;
    justify-content: space-between;

}

.image-background {
    display: none;
}

.section2 {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5em;
    background: orange;
    padding: 10px;
    transition: .5s;
}
.card{
   
    background: blue;
}
.card img{
    height: 200px;
    background: blue;
}



.section3 {
    margin-top: 10px;
    background: yellow;
}

/* Portrait and Landscape */
@media(max-width: 900px){
    .section2{
        grid-template-columns: 1fr 1fr;
    }
   
}
@media(max-width: 600px){
    .section2{
        grid-template-columns: 1fr ;
    }
}
@media(min-height: 900px){
     .section1 .slider{
        height: 200px;
    }
}