
:root {
  --primary: #101820FF;
}
*,*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: var(--primary);
}


#header{
	position: fixed;
	width:500px;
	background-color:rgba(255, 255, 255, 0.171);
	margin: 5% auto;
	left: 0;
	right: 0;
	
	
}
.item ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.item li{
	padding: 10px;

	
}
.item a{
	color: white;
	text-decoration: none;
	text-align: center;

}


#open{
	position: fixed;
	top: 5%;
	left: 5%;
	background-color: rgba(5, 5, 5, 0.192);
	color: red;
	font-size: 20px;
	text-align: center;
	line-height: 1.5;
	padding: 5px;
	border-radius: 10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
	 display: none; 
	

}

/*section a*/
#section-a{
	background:rgba(139, 3, 3, 0.555);
	background-image: url('../image/afghanistan.png');
	background-attachment: fixed;
	background-color: #01024e57;
	background-repeat: no-repeat;
	background-blend-mode: overlay;
	background-size:cover;
	background-position: center;
	height: 500px;
}
.title{
	color: white;
	text-align: center;
	border-radius: 10px;
	transform: translateY(15rem);
	font-family: Times New Roman
	Georgia;
}
.title h1{
	color: rgba(7, 85, 201, 0.712);
	font-size: 40px;
}
.title p{
	font-size: 20px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#side-bar{
	position: fixed;
	left: 0;
	top: 0;
	width: 0px;
	height: 100vh;
	background: #000000d5;
	transition: .5s;
	overflow-x: hidden;
	z-index: 1;
}

#show-side{
	cursor: pointer;
	font-weight: bold;
	font-size: 20px;
	transition: 0.5s;
}
#show-side:hover{
	color: red;
}

/* section b */
#section-b{
	padding:10px;
	width: 100%;
	background-color: #01024e57;
	

}
.content{
  line-height: 0;
  -webkit-column-count: 4;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           5px;  
	row-gap:           5px;  
}
.content img{
	  width: 100% !important;
  		height: auto !important;
		  margin-top:5px;
		  border-radius: 10px;
}
/* color-picker */
#color-picker{
	position: fixed;
	bottom: 0;
	right: 0px;
	width: 300px;
	height: 0px;
	z-index: 1;
	background-color: #01024e;
	transition: 0.5s;
	
	
}

/* grid for color */
#color-panel{
	width: 300px;
	background-color: white;;
	display:inline-block;
	padding: 10px;
	


}
#infor-panel{
	color:white;
	text-align:center;

}

.panel-edge{
	position: relative;
	bottom: 50px ;
	width: 50px;
	padding: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.rotat{
	background-color: #01024e;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	text-align: center;
	line-height: 10px;
	-webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
	-webkit-animation:animatedgradient 1s linear infinite;
    -moz-animation:animatedgradient 1s linear infinite;
    animation:spanimatedgradientin 1s linear infinite
	
	
}
.rotat i{
	color: white;
}
@-moz-keyframes spanimatedgradientin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spanimatedgradientin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spspanimatedgradientinin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


#main{
		
	
}

@media (max-width:900px){
	#color-picker{
		left: 0;
		right: 0;
		margin: 0;
		padding: 0;
		width: 100%;
	
	}
	
	#header{
		margin: 0;
		position: relative;
		width: 100%;
	}
	.item ul{
		margin: 0;
		padding: 0;
		width: 100%;
		display: inline-block;
		
	}
	.item li{

		text-align: center;
		margin: 0;
		padding: 20px;
		border:1px solid #ccc;
		
	
	}
	
	#open{
		display: block;
	}
}

@media only screen  and (max-device-width:480px){
	#color-picker{
		left: 0;
		right: 0;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.rotat i {
		font-size: 20px;
		padding: 20px;
		line-height: 2;
		
	}
	.panel-edge{
		width: 100%;
		padding: 10px;
	}
	#header{
		margin: 0;
		position: relative;
		width: 100%;
	}
	.item ul{
		margin: 0;
		padding: 0;
		width: 100%;
		display: inline-block;
		
	}
	.item li{

		text-align: center;
		margin: 0;
		padding: 20px;
		border:1px solid #ccc;
		
	
	}
	
	
}
